<!DOCTYPE html>
<html>

<head>
    <title>
        <%= movie.title %>
        <%= movie.movieTitle %>
    </title>
</head>

<body>

    <h1>
        <%= movie.title %>
        <%= movie.movieTitle %>
    </h1>

    <p>
        <%= movie.description %>
        <%= movie.movieDescription %>
    </p>

    <a href="/movie/edit/<%= movie._id %>">Edit</a>
    <a href="/movie/delete/<%= movie._id %>">Delete</a>

    <!-- Hard Coded for now, will do more as I figure out mongodb -->
    <h2>Reviews</h2>

    <form action="/review" method="POST">

        <label for="rating">Rating (1–5):</label><br>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br><br>

        <label for="review">Your review:</label><br>
        <textarea id="review" name="review" rows="5" cols="40" placeholder="Write your review here..."></textarea>
        <br><br>

        <button type="submit">Submit Review</button>

    </form>

    <hr>
    <p><strong>Alex</strong></p>
    <p><strong>Rating:</strong> 5 / 5</p>
    <p><strong>Review:</strong></p>
    <p>
        Cringe.
    </p>
    <hr>
    <p><strong>Sarah</strong></p>
    <p><strong>Rating:</strong> 4 / 5</p>
    <p><strong>Review:</strong></p>
    <p>
        Very dark and gritty movie.
    </p>
    <hr>
    <br><br>


    <a href="/testing.html">Back to movie list</a>

</body>

</html>