<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Watchlist</h1>
    <% if (watchedMovies.length > 0){ %>
    <table border="1">
        <thead>
            <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Added On</th>
            </tr>
        </thead>
        <tbody>
            <% for (let entry of watchedMovies) { %>
            <tr>
                <td><%= entry.movieId.movieTitle %></td>
                <td><%= entry.movieId.releaseDate %></td>
                <td><%= entry.movieId.movieRating %></td>
                <td>
                    <%  
                        const diff = Date.now() - entry.watchedDate;
                        const days = Math.floor(diff/(1000*60*60*24));
                        const hours = Math.floor(diff/(1000*60*60));
                        const minutes = Math.floor(diff/(1000*60));

                        let watchedTime;
                        if (minutes < 60) watchedTime = `${minutes} ${minutes > 1 ? 'minutes' : 'minute'} ago`;
                        else if (hours < 24) watchedTime = `${hours} ${hours > 1 ? 'hours' : 'hour'} ago`;
                        else watchedTime = `${days} ${days > 1 ? 'days' : 'day'} ago`;
                    %>
                    <%= watchedTime %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else { %>
        <p>You have not watched any movies. Check out our <a href="/movie">movie selection</a>.</p>
    <% } %>
    <br>
    <p><a href="/home">Go Back</a></p>
</body>
</html>