<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Watchlist</h1>
    <% if (watchlist.length > 0){ %>
    <table border="1">
        <thead>
            <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Added</th>
            </tr>
        </thead>
        <tbody>
            <% for (let entry of watchlist) { %>
            <tr>
                <td><a href="/movie/<%= entry.movieId._id %>"><%= entry.movieId.movieTitle %></a></td>
                <td><%= entry.movieId.releaseDate.toLocaleDateString('en-GB', { 
                                                                        day: 'numeric', 
                                                                        month: 'long', 
                                                                        year: 'numeric' 
                                                                        }) %></td>
                <td><%= entry.movieId.movieRating %></td>
                <td>
                    <%  
                        const diff = Date.now() - entry.watchedDate;
                        const days = Math.floor(diff/(1000*60*60*24));
                        const hours = Math.floor(diff/(1000*60*60));
                        const minutes = Math.floor(diff/(1000*60));

                        let watchedTime;
                        if (minutes < 60) watchedTime = `${minutes > 0 ? minutes : 'Few moments'} ${minutes >= 1 ? 'minutes' : ''} ago`;
                        else if (hours < 24) watchedTime = `${hours} ${hours > 1 ? 'hours' : 'hour'} ago`;
                        else watchedTime = `${days} ${days > 1 ? 'days' : 'day'} ago`;
                    %>
                    <%= watchedTime %>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else { %>
        <p>You have not watched any movies. Check out our <a href="/movie">movie selection</a>.</p>
    <% } %>
   
    
    <% if (alreadyWatched.length > 0) { %>
    <hr>
    <h2>Already Watched</h2>
    <p> You have watched <%= alreadyWatched.length %> movie<%= alreadyWatched.length > 1 ? 's' : '' %></p>
    
    
        <table border="1">
            <thead>
            <tr>
                <th>Title</th>
                <th>Leave a review?</th>
            </tr>
            </thead>
            <tbody>
            <% for (let entry of alreadyWatched){ %>
                <tr>
                    <td><a href="/movie/<%= entry.movieId._id %>"><%= entry.movieId.movieTitle %></a></td>
                    <th><button>Leave review?</button></th>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
    <p><a href="/home">Go Back</a> | <a href="/watched/recommended">Discover new movies</a></p>
</body>
</html>